
:root {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75em;
}

.inc-ml {
    margin-left: 1em;
}

.inc-mt {
    margin-top: 3em;
}

.inc-pl {
    padding-left: 2em;
}

.inc-pr {
    padding-right: 2em;
}

.center-title {
    text-align: center;
}

.card {
    margin: 1em;
    width: 24em;
    min-height: 18em;
}

.card-title {
    font-size: 2em;
}

.card-description {
    font-size: 1.25em;
}

p {
    font-size: 1.33em;
    color: #555555;
}

.search-settings {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.content {
    display: flex;
}

.inc-lh {
    line-height: 1.75em;
}


.content-left {
    width: 20%;
    padding-right: 5em;
    flex-grow: 2;
}

.content-right {
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    text-align: right;
}